<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="false" name="Suite">
  <test name="SetupTest">
    <classes>
      <class name="com.example.tests.PC1_Setup"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="MouseActionsTest">
    <classes>
      <class name="com.example.tests.PC2_MouseActions"/>
    </classes>
  </test> <!-- Test -->
  
  <test name="ContextMenuTest">
    <classes>
      <class name="com.example.tests.PC3_ContextMenuTest"/>
    </classes>
  </test> <!-- Test -->

</suite> <!-- Suite -->
